@import url(__image/cards__image.css);
@import url(__card/cards__card.css);
@import url(__link/cards__link.css);
@import url(__title/cards__title.css);
@import url(__url-heading/cards__url-heading.css);
@import url(__paragraph/cards__paragraph.css);
@import url(__website/cards__website.css);
@import url(__textbox/cards__textbox.css);

.cards {
    max-width: 984px;
    padding: 0 48px 0;s
}

@media screen and (max-width: 768px) {
    .cards {
        padding: 0 24px 0;

    }
}
@media screen and (max-width: 320px) {
    .cards {
        margin: 64px auto 64px;

    }
}
@media screen and (max-width: 320px) {
    .cards {
        padding: 0;

    }
}