.card__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0 0 24px 0;
    color: #ffffff;
}

@media screen and (max-width: 868px) {
    .card__paragraph {
        line-height: 1.63;
        font-size: 16px;
    }
}