.intro__list {
    list-style: none;
    padding: 0;
    margin: 32px 0 92px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px){
    .intro__list {
        max-width: 720px;
        margin: 32px 0 88px;
    }
}

@media screen and (max-width: 320px){
    .intro__list {
        max-width: 288px;
        margin: 32px 0 64px;
    }
}