.card__textbox {
    align-self: start;
    grid-area: textbox;
    margin: 0;

}
@media screen and (max-width: 320px) {
    .card__textbox {
        padding: 0 16px 0;
        margin: 32px 0 0;
    }
}