@import url(./__image/card__image.css);
@import url(./__url-heading/card__url-heading.css);
@import url(./__link/card__link.css);
@import url(./__website/card__website.css);
@import url(./__textbox/card__textbox.css);
@import url(./__title/card__title.css);
@import url(./__paragraph/card__paragraph.css);

.card {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    margin: 0 auto 80px auto;
}
.card:last-child {
    margin: 0 auto;
}

@media screen and (max-width: 1184px) {
    .card {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
    .card:last-child {
        margin: 0 auto;
    }
}
@media screen and (max-width: 868px) {
    .card {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin: 0 24px 48px 24px;
    }
    .card:last-child {
        margin: 0 24px 0 24px;
    }
}
@media screen and (max-width: 640px) {
    .card {
        grid-template-columns: 1fr;
        gap: 32px;
        margin: 0 auto 24px auto;
    }
    .card:last-child {
        margin: 0 auto;
    }
}